<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.hui.tally">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".UniteApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="星云记账"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".MusicService" android:enabled="true" android:exported="false"/>
        <activity android:name=".MonthChartActivity"/>
        <activity android:name=".SettingActivity" />
        <activity android:name=".ExchangeRateConversionActivity"/>
        <activity android:name=".HistoryActivity" />
        <activity android:name=".PlayMusic" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".RecordActivity" />
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>